<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ironpanthers.scouting.android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".ScoutingApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <!-- TODO: figure out what the hell i should do with view -->
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".competitionList.CompetitionListActivity"
            android:label="@string/title_competition_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ironpanthers.scouting.android.MainActivity" />
        </activity>
        <activity
            android:name=".competitionList.CompetitionDetailActivity"
            android:label="@string/title_competition_detail"
            android:parentActivityName=".competitionList.CompetitionListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ironpanthers.scouting.android.competitionList.CompetitionListActivity" />
        </activity>
        <activity
            android:name=".editor.MatchListActivity"
            android:label="@string/title_activity_match_list"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>